* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  font-weight: bold;
  background-image: url("./images/water-bg-conor-sexton-unsplash.jpg");
  background-size: cover;
  position: relative;
}

.modal {
  position: fixed;
  display: grid;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  backdrop-filter: blur(10px);
}

.modalBox {
  justify-self: center;
  align-self: center;
  display: grid;
  justify-items: center;
  align-items: center;
  height: 60%;
  width: 60%;
  background-color: silver;
  border: 2px solid black;
  outline: 2px solid sandybrown;
  padding: 50px 100px;
  text-align: center;
  line-height: 200%;
  font-size: 1.2rem;
}

.modalTitle {
  font-size: 3rem;
  text-shadow: 2px 2px 2px sandybrown;
}

.displayNone {
  display: none !important;
}

.unbold {
  font-weight: normal;
}

header,
footer {
  background-color: rgba(192, 192, 192, 0.3);
  z-index: 1;
}

header {
  display: grid;
  justify-items: center;
  font-size: 1.4rem;
  padding: 8px 16px;
  height: 3rem;
}

header > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

#surrender {
  font-size: 1rem;
}

footer {
  padding: 4px 8px;
  font-size: 0.8rem;
  height: 1.4rem;
}

.content {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto 1fr;
  justify-items: center;
  color: sandybrown;
  text-shadow: 2px 2px 2px black;
}

.playerName {
  padding: 16px 32px 0px;
  font-size: 1.4rem;
}

#boardWrapper1,
#boardWrapper2 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  aspect-ratio: 1;
  height: 55vh;
}

#rowLabelWrapper1,
#rowLabelWrapper2 {
  grid-row: 2/12;
  grid-column: 1/2;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
}

#colLabelWrapper1,
#colLabelWrapper2 {
  grid-row: 1/2;
  grid-column: 2/12;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.rowLabel,
.colLabel {
  display: grid;
  justify-self: center;
  align-self: center;
  font-weight: bold;
}

#board1,
#board2 {
  position: relative;
  display: grid;
  grid-column: 2/12;
  grid-row: 2/12;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 2px;
  aspect-ratio: 1;
}

.cell {
  background-color: rgba(0, 0, 0, 0.5);
  aspect-ratio: 1;
  position: relative;
  display: grid;
  justify-content: center;
  align-content: center;
}

.cell.selected {
  background-color: rgba(244, 165, 96, 0.8);
}

.cell.missedCell::after {
  content: "?";
  color: white;
  font-size: 1.5rem;
}

.cell.hitCell::after {
  content: "⤫";
  color: red;
  font-size: 2rem;
  z-index: 1;
}

.shipPiece {
  display: grid;
  position: absolute;
  color: white;
  background-color: silver;
  border-radius: 50%;
  border: 2px solid gray;
  pointer-events: none;
  text-align: center;
  justify-content: center;
  align-content: center;
  top: 0;
  left: 0;
  z-index: 1;
}

#board2 .shipPiece {
  z-index: -1;
  color: red;
}

.verticalPiece {
  writing-mode: vertical-rl;
}

.patrolBoatPiece {
  height: 100%;
  width: 200%;
}

.patrolBoatPiece.verticalPiece {
  height: 200%;
  width: 100%;
}

.submarinePiece {
  height: 100%;
  width: 300%;
}

.submarinePiece.verticalPiece {
  height: 300%;
  width: 100%;
}

.destroyerPiece {
  height: 100%;
  width: 300%;
}

.destroyerPiece.verticalPiece {
  height: 300%;
  width: 100%;
}

.battleshipPiece {
  height: 100%;
  width: 400%;
}

.battleshipPiece.verticalPiece {
  height: 400%;
  width: 100%;
}

.carrierPiece {
  height: 100%;
  width: 500%;
}

.carrierPiece.verticalPiece {
  height: 500%;
  width: 100%;
}

#eventLogWrapper {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 8px;
  margin-bottom: 16px;
  height: 250px;
  width: 80%;
}

#eventLogTitle {
  text-align: center;
}

#eventLog {
  display: grid;
  align-content: start;
  gap: 8px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 8px;
  overflow-y: scroll;
}

#eventLog::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

#eventLog::-webkit-scrollbar-thumb {
  background-color: sandybrown;
}

.event {
  padding: 8px 16px;
  border-left: 4px solid sandybrown;
  border-bottom: 1px solid sandybrown;
  font-weight: normal;
  transition: 0.5s ease-out;
}

.event.errorEvent {
  color: orangered;
  border-left: 4px solid orangered;
  border-bottom: 1px solid orangered;
}

.event.turnEvent {
  color: skyblue;
  border-left: 4px solid skyblue;
  border-bottom: 1px solid skyblue;
}

.event.errorEvent.flash {
  background-color: orangered;
}

.event.turnEvent.flash {
  background-color: skyblue;
}

.event.infoEvent.flash {
  background-color: sandybrown;
}

#setUpForm,
#attackForm {
  background-color: rgba(0, 0, 0, 0.8);
  display: grid;
  justify-content: center;
  justify-items: center;
  align-content: start;
  align-items: center;
  column-gap: 8px;
  row-gap: 48px;
  padding: 32px;
}

#setUpForm {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 50vw;
  align-content: center;
  backdrop-filter: blur(10px);
}

#attackForm {
  align-self: center;
  width: 80%;
}

.coordsLabel {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: right;
  gap: 8px;
}

button {
  padding: 4px 16px;
  background-color: sandybrown;
  color: black;
  font-weight: bold;
}

input {
  appearance: none;
  font-size: 1.4rem;
  text-align: center;
  font-weight: bold;
  border: none;
  color: black;
}

input:focus {
  outline: none;
}

#selectShip {
  grid-column: 1/-1;
  display: flex;
  grid-template-columns: repeat(5, 1fr);
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 8px;
}

#selectShip > label {
  padding: 4px 8px;
  border: 2px solid transparent;
  display: grid;
  justify-items: center;
}

#selectShip > label:has(> input:checked) {
  background-color: sandybrown;
  color: black;
  text-shadow: none;
}

#randomlyPlaceShip,
#randomlyPlaceAllShips,
#startGame,
#randomlyAttack {
  grid-column: 1/-1;
}

#startGame {
  font-size: 1.4rem;
  padding: 16px 64px;
}
